html, body {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  height: 100%;
  background-color: #ffffff;
  margin: 0; }

.clearfix::after, .order-form-info .order-form-billing .content .form-horizontal::after, .order-form-info .order-form-delivery .content .form-horizontal::after, .slideshow-container .slideshow-control .slideshow-pills::after, .mobile-menu .content .content-area .main-menu::after, .mobile-footer::after {
  content: "";
  display: table;
  clear: both; }

.clear {
  clear: both; }

.header-threshold {
  position: absolute;
  z-index: 0;
  height: 64px;
  width: 100%; }
  @media (min-width: 1200px) {
    .header-threshold {
      height: 128px; } }

.button, .a-button {
  background-color: #5571da;
  color: #ffffff;
  display: inline-block;
  border: none;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  padding: 0 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.5s; }
  .button:hover, .a-button:hover {
    background-color: #000000; }
  .button.big, .a-button.big {
    line-height: 52px;
    padding: 18px 25px; }
  .button.arrow, .a-button.arrow {
    background-color: #ffffff;
    color: #000000;
    line-height: 52px;
    padding: 16px 23px;
    font-size: 18px !important; }
  .button.border, .a-button.border {
    border: 1px solid #5571da;
    background-color: #ffffff;
    color: #5571da;
    line-height: 28px;
    transition: all .5s; }
    .button.border:hover, .a-button.border:hover {
      border: 1px solid #000000;
      color: #000000; }
  .button.disabled, .a-button.disabled {
    background-color: #888;
    cursor: not-allowed; }

.innerContainer {
  max-width: 1600px;
  margin: auto auto;
  position: relative; }
  .innerContainer .color-sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .innerContainer .color-sample h3 {
      flex: 0 0 100%; }
    .innerContainer .color-sample div {
      flex: 0 0 auto;
      margin: 0 5px; }
      .innerContainer .color-sample div .text {
        text-align: center;
        font-size: 13px;
        line-height: 12px; }

.header {
  height: 150px;
  width: 100%;
  top: 0;
  z-index: 3;
  position: fixed;
  transition: all 0.5s;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  display: none;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c000000', endColorstr='#00000000', GradientType=0); }
  @media (min-width: 1200px) {
    .header {
      display: block; } }
  .header.compaq {
    height: 128px; }
    .header.compaq .slogan {
      opacity: 0;
      bottom: 10px; }
    .header.compaq .mainMenu {
      margin-top: 69px; }
    .header.compaq .login, .header.compaq .orderForm, .header.compaq .register, .header.compaq .loggedProfile, .header.compaq .loggedOrders {
      padding: 7px 20px; }
  .header .logo {
    position: absolute;
    top: 30px;
    left: 0;
    height: 107px;
    width: 400px;
    background-image: url("../images/logo_narrow.png");
    background-repeat: no-repeat;
    z-index: 1;
    transition: all .5s; }
    .header .logo .slogan {
      position: absolute;
      bottom: 0;
      left: 65px;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 2px;
      font-size: 16px;
      transition: all .5s; }
      .header .logo .slogan:before {
        content: '';
        width: 70%;
        height: 1px;
        position: absolute;
        top: -7px;
        left: 41px;
        background-color: #ffffff;
        opacity: .5; }
  .header .userPanel {
    position: absolute;
    right: 126px;
    top: 0;
    /*.login*/ }
    .header .userPanel a {
      float: left;
      background: rgba(255, 255, 255, 0.2);
      padding: 12px 20px;
      color: #ffffff;
      text-decoration: none;
      transition: all .3s;
      margin-left: 3px; }
      .header .userPanel a i {
        margin-right: 10px; }
      .header .userPanel a:hover {
        background: rgba(255, 255, 255, 0.4); }
  .header .mainMenu {
    display: inline-block;
    margin-top: 82px;
    transition: all 0.5s;
    float: right; }
    .header .mainMenu .mobileLink {
      display: none;
      color: #ffffff;
      text-decoration: none;
      font-size: 30px;
      font-weight: bold; }
      .header .mainMenu .mobileLink:hover:before {
        display: none; }
      @media screen and (max-width: 1200px) {
        .header .mainMenu .mobileLink {
          display: inline; } }
    .header .mainMenu .links {
      position: relative;
      display: block;
      perspective: 500px; }
      @media screen and (max-width: 1200px) {
        .header .mainMenu .links {
          display: none;
          width: 100%;
          margin-top: 100px; } }
      .header .mainMenu .links.mobile {
        display: block;
        background-color: #ffffff;
        top: 0;
        margin-top: 40px;
        width: 80vw;
        padding: 10px;
        box-sizing: border-box; }
        .header .mainMenu .links.mobile a {
          color: #000000;
          display: block;
          text-align: center;
          text-shadow: none;
          margin: 7px;
          padding: 10px; }
      .header .mainMenu .links .linkContainer {
        position: relative;
        display: inline-block;
        float: left;
        margin-right: 110px;
        padding: 6px 0 30px; }
        .header .mainMenu .links .linkContainer .mainLink {
          text-decoration: none;
          padding-bottom: 3px;
          color: #ffffff;
          line-height: 17px;
          text-transform: uppercase;
          text-shadow: 1px 1px 0 #000;
          font-size: 17px;
          font-weight: normal;
          transition: all 0.4s; }
          .header .mainMenu .links .linkContainer .mainLink .icon {
            display: block;
            height: 45px;
            text-align: center;
            margin-bottom: 13px;
            transition: all 0.2s; }
          .header .mainMenu .links .linkContainer .mainLink .label {
            padding: 0 5px;
            transition: all .3s; }
          .header .mainMenu .links .linkContainer .mainLink.selected:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: -4px;
            left: 0;
            background-color: #ffffff; }
          .header .mainMenu .links .linkContainer .mainLink:last-of-type {
            margin-right: 0; }
          .header .mainMenu .links .linkContainer .mainLink:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 7px;
            bottom: 15px;
            left: 0;
            transition: all .3s;
            background: url(../images/menu_arrow.png) no-repeat center center; }
        .header .mainMenu .links .linkContainer:before {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          top: -4px;
          left: 0;
          background-color: #ffffff;
          transition: all .3s; }
        .header .mainMenu .links .linkContainer:last-of-type {
          margin-right: 0; }
        .header .mainMenu .links .linkContainer:hover .dropdownMenu {
          visibility: visible;
          opacity: 1;
          top: 46px;
          transform: none; }
        .header .mainMenu .links .linkContainer:hover .mainLink .label {
          background-color: #fff;
          color: #000;
          text-shadow: none;
          border-radius: 3px; }
        .header .mainMenu .links .linkContainer:hover .mainLink:after {
          bottom: 6px;
          opacity: 0; }
      .header .mainMenu .links .dropdownMenu {
        background: rgba(255, 255, 255, 0.93);
        position: absolute;
        top: 25px;
        visibility: hidden;
        right: 0;
        overflow: hidden;
        transition: all 330ms linear;
        opacity: 0;
        z-index: 2;
        box-sizing: border-box;
        border: 1px solid #bfbfbf; }
        .header .mainMenu .links .dropdownMenu .table {
          display: flex;
          justify-content: center;
          flex-flow: row nowrap; }
          .header .mainMenu .links .dropdownMenu .table span {
            text-shadow: none;
            white-space: nowrap;
            text-align: left;
            border-right: 1px solid #ffffff; }
            .header .mainMenu .links .dropdownMenu .table span:last-of-type {
              border-right: none; }
            .header .mainMenu .links .dropdownMenu .table span label {
              display: block;
              padding: 8px 30px;
              color: #000000;
              text-transform: uppercase;
              background-color: #ffffff;
              font-size: 13px;
              font-weight: bold; }
            .header .mainMenu .links .dropdownMenu .table span a {
              display: block;
              color: #1a1a1a;
              text-decoration: none;
              padding: 0 30px;
              font-size: 14px; }
              .header .mainMenu .links .dropdownMenu .table span a:nth-of-type(1) {
                margin-top: 10px; }
              .header .mainMenu .links .dropdownMenu .table span a:last-of-type {
                margin-bottom: 10px; }
              .header .mainMenu .links .dropdownMenu .table span a:hover {
                color: #5571da; }
        .header .mainMenu .links .dropdownMenu .bottomLinks {
          display: block;
          padding: 12px 22px;
          color: #000000;
          background-color: #ffffff;
          text-align: center; }
          .header .mainMenu .links .dropdownMenu .bottomLinks a {
            color: #ffffff;
            background-color: #1a1a1a;
            text-decoration: none;
            padding: 6px 16px;
            border-radius: 2px;
            transition: all .3s;
            text-transform: uppercase;
            font-size: 14px;
            white-space: nowrap; }
            .header .mainMenu .links .dropdownMenu .bottomLinks a:nth-of-type(1) {
              margin-right: 10px; }
            .header .mainMenu .links .dropdownMenu .bottomLinks a:hover {
              background-color: #5571da; }
  .header .search {
    position: absolute;
    right: 244px;
    top: 39px;
    transition: all 0.5s; }
    .header .search input[type=text] {
      background: transparent;
      border: 0;
      width: 0;
      outline: none;
      padding: 2px 0;
      color: #ffffff;
      transition: all 0.5s;
      font-family: "Lato", sans-serif; }
      .header .search input[type=text]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff; }
      .header .search input[type=text]::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      .header .search input[type=text]:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff; }
      .header .search input[type=text]:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
    .header .search button {
      background: transparent;
      border: none;
      color: #ffffff;
      font-size: 18px; }
    .header .search:hover input[type=text] {
      border-bottom: 1px solid #ffffff;
      width: 120px;
      padding: 2px 2px; }
    .header .search:before {
      content: '';
      position: absolute;
      height: 30px;
      top: -5px;
      left: -25px;
      border-left: 1px solid #ffffff; }
    .header .search:after {
      content: '';
      position: absolute;
      height: 30px;
      top: -5px;
      right: -28px;
      border-right: 1px solid #ffffff; }
    .header .search.hide {
      display: none; }
    @media screen and (max-width: 1400px) {
      .header .search {
        right: 140px; }
        .header .search:before {
          left: -10px; }
        .header .search:after {
          right: -13px; } }
    @media screen and (max-width: 660px) {
      .header .search {
        right: 10px;
        top: 110px; } }

@media (max-width: 1199px) {
  .mainContainer {
    padding: 0 10px; } }
.mainContainer h1 {
  position: relative;
  text-transform: uppercase;
  margin: 30px 0;
  display: inline-block;
  font-size: 20px;
  font-weight: normal; }
  .mainContainer h1:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #000000;
    opacity: .5; }
.mainContainer p {
  text-align: justify;
  color: #666666;
  font-size: 20px;
  font-weight: 300; }
@media (min-width: 1024px) {
  .mainContainer.home .groups {
    margin: 30px 0 40px 0; } }
.mainContainer.home .groups h2 {
  position: absolute;
  top: 50%;
  text-align: center;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: all .5s;
  width: 100%;
  font-size: 46px;
  font-weight: 300; }
.mainContainer.home .groups a {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: block;
  position: relative;
  transition: all .4s;
  font-size: 1px;
  max-width: 500px;
  width: 100%;
  float: left;
  margin-bottom: 20px; }
  .mainContainer.home .groups a img {
    width: 100%; }
  @media (min-width: 480px) and (max-width: 1023px) {
    .mainContainer.home .groups a {
      width: 49%;
      margin-right: 2%; }
      .mainContainer.home .groups a:nth-of-type(2n) {
        margin-right: 0; } }
  @media (min-width: 1024px) {
    .mainContainer.home .groups a {
      width: 31%;
      margin-right: 3.5%;
      margin-bottom: 0; }
      .mainContainer.home .groups a:nth-of-type(3n) {
        margin-right: 0; } }
  .mainContainer.home .groups a:hover {
    border: 1px solid #d9d9d9; }
    .mainContainer.home .groups a:hover h2 {
      background-color: #ffffff;
      color: #000000; }
.mainContainer.listing .filter {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  .mainContainer.listing .filter > div {
    padding: 20px 5px; }
  .mainContainer.listing .filter label {
    text-transform: uppercase;
    display: block;
    width: 100%;
    font-size: 12px; }
  .mainContainer.listing .filter select {
    min-width: 250px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #cccccc; }
.mainContainer.listing .noProducts {
  text-align: center;
  margin: 30px;
  color: #5571da; }
.mainContainer.listing .productNumber {
  text-align: center;
  margin: 30px;
  color: #5571da; }
.mainContainer.info {
  padding-left: 10px;
  padding-right: 10px; }
  .mainContainer.info .groups {
    position: relative;
    margin: auto; }
    @media (min-width: 1200px) {
      .mainContainer.info .groups {
        width: 80%; } }
    .mainContainer.info .groups .h2 {
      position: absolute;
      top: 50%;
      text-align: center;
      display: block;
      color: #ffffff;
      text-transform: uppercase;
      transform: translateY(-50%);
      transition: all .5s;
      width: 100%;
      font-size: 20px;
      font-weight: 300; }
      @media (min-width: 1200px) {
        .mainContainer.info .groups .h2 {
          font-size: 40px;
          font-weight: 300; } }
    .mainContainer.info .groups a {
      float: left;
      border: 1px solid #ffffff;
      width: 48%;
      box-sizing: border-box;
      display: block;
      position: relative;
      margin-right: 4%;
      transition: all .4s;
      font-size: 1px; }
      .mainContainer.info .groups a img {
        width: 100%; }
      .mainContainer.info .groups a:nth-of-type(2n) {
        margin-right: 0; }
      .mainContainer.info .groups a:hover {
        border: 1px solid #d9d9d9; }
        .mainContainer.info .groups a:hover h2, .mainContainer.info .groups a:hover .h2 {
          background-color: #ffffff;
          color: #000000; }
.mainContainer.details .productDetails {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  .mainContainer.details .productDetails > div:nth-of-type(1) {
    text-align: center;
    padding: 15px 0; }
    @media (min-width: 768px) {
      .mainContainer.details .productDetails > div:nth-of-type(1) {
        width: 55%;
        padding: 15px 20px; } }
    .mainContainer.details .productDetails > div:nth-of-type(1) .image img {
      max-width: 100%; }
  .mainContainer.details .productDetails > div:nth-of-type(2) {
    padding: 15px 0; }
    @media (min-width: 768px) {
      .mainContainer.details .productDetails > div:nth-of-type(2) {
        width: 45%;
        padding: 15px 20px; } }
    @media (max-width: 1199px) {
      .mainContainer.details .productDetails > div:nth-of-type(2) .button {
        padding: 0 10px; } }
  .mainContainer.details .productDetails .image img {
    max-height: 450px; }
  .mainContainer.details .productDetails .thumbs {
    clear: both; }
    .mainContainer.details .productDetails .thumbs a {
      display: block;
      width: 19%;
      margin-top: 1%;
      margin-right: 1%;
      font-size: 1px;
      float: left; }
      .mainContainer.details .productDetails .thumbs a img {
        width: 100%; }
  .mainContainer.details .productDetails h1 {
    font-size: 22px; }
    .mainContainer.details .productDetails h1:after {
      display: none; }
  .mainContainer.details .productDetails p {
    font-weight: normal;
    font-size: 16px;
    color: #000000; }
  .mainContainer.details .productDetails .path a {
    padding-left: 20px;
    color: #b3b3b3;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 14px; }
    .mainContainer.details .productDetails .path a:first-of-type {
      padding-left: 0; }
      .mainContainer.details .productDetails .path a:first-of-type:before {
        display: none; }
    .mainContainer.details .productDetails .path a:last-of-type {
      color: #000000; }
    .mainContainer.details .productDetails .path a:before {
      content: '\f105';
      font-family: FontAwesome, sans-serif;
      font-size: 16px;
      position: absolute;
      left: 7px;
      top: 0;
      color: #b3b3b3; }
  .mainContainer.details .productDetails table {
    width: 100%;
    margin-bottom: 30px; }
  .mainContainer.details .productDetails tr:nth-of-type(even) {
    background-color: #fafafa; }
  .mainContainer.details .productDetails tr:nth-of-type(odd) {
    background-color: whitesmoke; }
  .mainContainer.details .productDetails td:nth-of-type(1) {
    width: 35%;
    color: #333333;
    text-transform: uppercase;
    text-align: right;
    font-weight: 300; }
  .mainContainer.details .productDetails td {
    padding: 5px 8px; }
    .mainContainer.details .productDetails td i {
      color: #4d4d4d;
      padding-right: 10px; }
    .mainContainer.details .productDetails td a {
      color: #5571da;
      text-decoration: none; }
      .mainContainer.details .productDetails td a:hover {
        text-decoration: underline; }
  .mainContainer.details .productDetails .controls {
    margin: 30px 0; }
    .mainContainer.details .productDetails .controls .sendrequest {
      margin-left: 20px; }
  .mainContainer.details .productDetails h3 {
    padding-top: 30px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #e6e6e6; }
.mainContainer .products {
  margin: 30px 0 40px 0; }
  .mainContainer .products h2 {
    position: absolute;
    bottom: -36px;
    text-align: center;
    display: block;
    color: #000000;
    text-transform: uppercase;
    transform: translateY(-50%);
    transition: all .5s;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal; }
  .mainContainer .products a {
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
    transition: all .4s;
    margin-bottom: 40px; }
    @media (max-width: 1023px) {
      .mainContainer .products a {
        margin-top: 20px; } }
    @media (min-width: 480px) and (max-width: 1023px) {
      .mainContainer .products a {
        width: 49%;
        margin-right: 2%; }
        .mainContainer .products a:nth-of-type(2n) {
          margin-right: 0; } }
    @media (min-width: 1024px) {
      .mainContainer .products a {
        width: 31%;
        margin-right: 3.5%; }
        .mainContainer .products a:nth-of-type(3n) {
          margin-right: 0; } }
    .mainContainer .products a img {
      width: 100%; }
    .mainContainer .products a:hover h2 {
      background-color: #ffffff;
      color: #000000; }
    .mainContainer .products a:hover:after {
      width: 100%; }
    .mainContainer .products a:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      margin: auto auto;
      width: 100%;
      background-color: #e6e6e6; }
    .mainContainer .products a:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      margin: auto auto;
      width: 0;
      background-color: #333333;
      transition: all .5s; }
.mainContainer .form-horizontal {
  width: 300px;
  margin: auto auto; }
  .mainContainer .form-horizontal .form-control, .mainContainer .form-horizontal .checkbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 42px;
    height: 42px;
    font-family: "Lato", sans-serif; }
  .mainContainer .form-horizontal textarea.form-control {
    height: 100px;
    resize: vertical;
    line-height: 16px; }
  .mainContainer .form-horizontal .form-control:not(.checkbox) {
    border: 1px solid #888; }
  .mainContainer .form-horizontal .control-label {
    margin-bottom: 3px;
    display: block; }
  .mainContainer .form-horizontal input[type=checkbox] {
    padding: 5px; }
  .mainContainer .form-horizontal .button, .mainContainer .form-horizontal .a-button {
    margin-bottom: 20px; }
  .mainContainer .form-horizontal a {
    font-size: 12px; }
.mainContainer.distributors .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .mainContainer.distributors .list .item {
    color: #000000;
    font-size: 13px;
    /*width: 33.33%;*/
    /*float: left;*/
    margin-bottom: 8px;
    padding: 20px; }
    .mainContainer.distributors .list .item .country {
      font-weight: bold;
      font-size: 16px; }
    .mainContainer.distributors .list .item .company {
      margin-top: 10px;
      color: #5571da;
      font-weight: bold;
      font-size: 14px; }
    .mainContainer.distributors .list .item .text {
      margin-top: 10px;
      font-weight: normal;
      font-size: 14px; }
      .mainContainer.distributors .list .item .text p {
        font-weight: normal;
        font-size: 14px; }
    .mainContainer.distributors .list .item a {
      color: #5571da;
      text-decoration: none;
      transition: all .3s; }
      .mainContainer.distributors .list .item a:hover {
        color: #000000; }

.footer {
  z-index: 0;
  display: none;
  position: relative; }
  @media (min-width: 1200px) {
    .footer {
      display: block; } }
  .footer .topLine {
    background-color: #EFF0F2; }
    .footer .topLine .table {
      padding: 20px 0;
      display: table;
      color: #ffffff; }
      .footer .topLine .table h4 {
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 16px; }
      .footer .topLine .table > div {
        display: table-cell;
        vertical-align: top;
        padding: 0 12px; }
        .footer .topLine .table > div.contacts {
          width: 20%; }
          .footer .topLine .table > div.contacts .logo {
            margin-bottom: 40px; }
            .footer .topLine .table > div.contacts .logo img {
              width: 100%; }
          .footer .topLine .table > div.contacts .contact {
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;
            color: #000000; }
          .footer .topLine .table > div.contacts .mobile:before {
            content: '\f098';
            font-family: FontAwesome;
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 0;
            color: #737373; }
          .footer .topLine .table > div.contacts .email:before {
            content: '\f199';
            font-family: FontAwesome;
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 0;
            color: #737373; }
          .footer .topLine .table > div.contacts .www:before {
            content: '\f0ac';
            font-family: FontAwesome;
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 0;
            color: #737373; }
        .footer .topLine .table > div.distributors {
          width: 40%; }
          .footer .topLine .table > div.distributors .item {
            color: #000000;
            font-size: 13px;
            width: 33.33%;
            float: left;
            margin-bottom: 8px; }
            .footer .topLine .table > div.distributors .item .country {
              font-weight: bold; }
            .footer .topLine .table > div.distributors .item a {
              text-decoration: none;
              color: #000000;
              transition: all .3s; }
              .footer .topLine .table > div.distributors .item a:hover {
                color: #5571da; }
        .footer .topLine .table > div.socials {
          width: 40%;
          border-left: 1px solid #bfc0c2;
          position: relative; }
          .footer .topLine .table > div.socials .socialsIcons {
            position: absolute;
            right: 21px;
            top: -4px; }
            .footer .topLine .table > div.socials .socialsIcons a {
              font-size: 22px;
              color: #000000;
              margin-left: 7px; }
          .footer .topLine .table > div.socials .item {
            width: 32%;
            float: left;
            margin-right: 2%; }
            .footer .topLine .table > div.socials .item img {
              width: 100%; }
            .footer .topLine .table > div.socials .item:nth-of-type(3) {
              margin-right: 0; }
  .footer .bottomLine {
    height: 52px;
    line-height: 52px;
    background-color: #FCFDFF;
    color: #000000;
    font-size: 14px;
    border-top: solid 1px #cfd1d0; }
    .footer .bottomLine a {
      font-size: 14px;
      text-decoration: none;
      color: #000000;
      transition: all .2s; }
      .footer .bottomLine a:hover {
        color: #737373;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.2); }
    .footer .bottomLine .copyright {
      float: left;
      text-transform: uppercase; }
    .footer .bottomLine .webdesign {
      float: right; }

.scrollTop {
  position: fixed;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background-color: #8c8c8c;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 40px;
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
  z-index: 2; }
  .scrollTop.active {
    opacity: 1;
    visibility: visible; }
  .scrollTop:hover {
    background-color: #595959;
    border-radius: 40px; }

.center-block {
  text-align: center;
  padding: 20px; }

.pagination {
  display: inline;
  padding: 0 10px; }
  .pagination li {
    display: inline;
    list-style-type: none; }
    .pagination li a {
      padding: 5px;
      display: inline-block;
      width: 40px;
      background-color: #f7f7f7;
      text-decoration: none;
      line-height: 20px;
      margin-right: 2px;
      color: #5571da; }
      .pagination li a:hover {
        background-color: #f2f2f2; }
    .pagination li span {
      padding: 5px;
      display: inline-block;
      width: 40px; }

.order-form {
  position: relative;
  z-index: 1;
  margin-bottom: 1em; }
  .order-form .noVAT {
    margin-top: 20px;
    color: #900a05;
    font-size: 14px;
    font-weight: bold; }

@media (max-width: 1199px) {
  .mainContainer.order-form {
    overflow-y: auto;
    padding: 0 10px; }
    .mainContainer.order-form .innerContainer {
      min-width: 1600px; } }

.print-order-form {
  padding: 0 !important; }
  .print-order-form .order-form-table {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    width: 100%; }
    .print-order-form .order-form-table thead th {
      border-color: #000; }
    .print-order-form .order-form-table tbody tr td {
      border-color: #000 !important;
      background-color: transparent !important; }
      .print-order-form .order-form-table tbody tr td label div {
        display: none; }
      .print-order-form .order-form-table tbody tr td label [type=text] {
        width: 100%;
        background-color: transparent !important; }
    .print-order-form .order-form-table tbody .standard + .fluorescent {
      border-left-width: 2px; }
      .print-order-form .order-form-table tbody .standard + .fluorescent label::after {
        display: none; }
  .print-order-form h1 {
    padding: 10px 0; }

.order-form-tabs {
  position: relative;
  padding-left: 1em; }
  .order-form-tabs a {
    position: relative;
    background-color: #5571da;
    padding: .7em 3.5em;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px 0 0 0;
    box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.5); }
    .order-form-tabs a::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: -.5em;
      bottom: 0;
      width: 1em;
      background-color: #5571da;
      transform: skew(10deg);
      box-shadow: 1px -1px 1px -1px rgba(0, 0, 0, 0.5);
      border-radius: 0 5px 0 0; }
    .order-form-tabs a:hover, .order-form-tabs a:hover::after, .order-form-tabs a:focus, .order-form-tabs a:focus::after {
      background-color: #5571da; }
    .order-form-tabs a.active {
      background-color: #fff;
      color: #5571da;
      z-index: 3;
      box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.5);
      top: 1px; }
      .order-form-tabs a.active::after {
        background: #fff;
        box-shadow: 1px -1px 1px -1px rgba(0, 0, 0, 0.5); }

.order-form-content {
  background-color: #fff;
  padding: 1em;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5); }
  .order-form-content > div {
    display: none; }
    .order-form-content > div.active {
      display: block;
      position: relative;
      z-index: 4; }

.order-form-table {
  border-collapse: collapse;
  cursor: default; }
  .order-form-table thead th {
    border: 1px solid #f0f0f0; }
  .order-form-table thead .color:not(.print) .color-representation {
    width: 32px;
    height: 32px;
    position: relative; }
    .order-form-table thead .color:not(.print) .color-representation div {
      position: absolute;
      left: 50%;
      top: -40px;
      line-height: 30px;
      border: 1px solid #5571da;
      transform: translateX(-50%);
      background-color: #fff;
      color: #5571da;
      border-radius: 15px;
      white-space: nowrap;
      padding: 0 10px;
      font-size: 14px;
      visibility: hidden;
      transition: all 333ms;
      opacity: 0;
      z-index: 1; }
      .order-form-table thead .color:not(.print) .color-representation div::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 8px 0 8px;
        border-color: #fff transparent transparent transparent;
        z-index: 2; }
      .order-form-table thead .color:not(.print) .color-representation div::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 1px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 8px 0 8px;
        border-color: #5571da transparent transparent transparent;
        z-index: 1; }
    .order-form-table thead .color:not(.print) .color-representation:hover div {
      visibility: visible;
      opacity: 1; }
  .order-form-table thead .color.print {
    width: 32px; }
    .order-form-table thead .color.print .color-representation {
      font-size: 8px; }
  .order-form-table tbody td {
    border: 1px solid #f0f0f0;
    background-color: #fafafa; }
  .order-form-table tbody .name, .order-form-table tbody .price, .order-form-table tbody .count {
    padding: 0 5px; }
  .order-form-table tbody .name .name-container {
    position: relative;
    line-height: 32px; }
    .order-form-table tbody .name .name-container a {
      color: #000;
      text-decoration: none; }
      .order-form-table tbody .name .name-container a:hover {
        text-decoration: underline; }
    .order-form-table tbody .name .name-container div {
      display: none;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(1em, -50%);
      width: 480px;
      height: 480px;
      background-color: #fff;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      z-index: 2; }
      .order-form-table tbody .name .name-container div span {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        display: block;
        padding: 5px; }
    .order-form-table tbody .name .name-container:hover div {
      display: block; }
  .order-form-table tbody .standard + .fluorescent label::after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 1px;
    height: calc(100% + 2px);
    background: #CCC; }
  .order-form-table tbody .color {
    position: relative; }
    .order-form-table tbody .color label {
      display: block; }
      .order-form-table tbody .color label div {
        cursor: text;
        opacity: 0;
        position: absolute;
        right: -1px;
        top: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 16px 0;
        transition: opacity 333ms; }
      .order-form-table tbody .color label .ng-not-empty + div, .order-form-table tbody .color label :focus + div {
        opacity: 1; }
    .order-form-table tbody .color [type=text] {
      width: 32px;
      height: 32px;
      border: 0;
      background-color: transparent;
      text-align: center;
      cursor: text;
      line-height: 32px;
      transition: background-color 333ms; }
      .order-form-table tbody .color [type=text]:focus:not([readonly]), .order-form-table tbody .color [type=text]:hover:not([readonly]) {
        background-color: #ffc; }
      .order-form-table tbody .color [type=text].ng-not-empty {
        background-color: #fff; }
  .order-form-table tbody tr:nth-child(odd) td {
    background-color: #f8f8f8; }
  .order-form-table tbody tr td.material-name {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    background: #ffc; }
  .order-form-table tbody tr:hover:not([readonly]) .color label div {
    opacity: 1; }
  .order-form-table tbody tr.child td {
    background-color: #f4f4f4; }
    .order-form-table tbody tr.child td.name {
      padding-left: 15px; }

.order-form-bolts, .order-form-total {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 1em;
  margin-top: 1em; }
  .order-form-bolts h2, .order-form-total h2 {
    margin-bottom: 1em; }
  .order-form-bolts table, .order-form-total table {
    border-collapse: collapse; }
    .order-form-bolts table td, .order-form-bolts table th, .order-form-total table td, .order-form-total table th {
      padding: 5px;
      border: 1px solid #f0f0f0;
      background-color: #fafafa; }

.order-form-total div {
  font-size: 1.5em; }
  .order-form-total div:not(:first-child) {
    margin-top: .5em; }
.order-form-total .error-reporting div {
  font-size: 16px;
  color: #f55;
  padding: 3px;
  margin: 0;
  text-align: right; }
  .order-form-total .error-reporting div:last-child {
    margin-bottom: .5em; }

.order-form-info {
  display: flex;
  flex-wrap: wrap; }
  .order-form-info .order-form-delivery {
    flex: 0 0 50%;
    max-width: calc(50% - .5em);
    margin-left: .5em;
    padding-left: 5px; }
  .order-form-info .order-form-billing {
    flex: 0 0 50%;
    max-width: calc(50% - .5em);
    margin-right: .5em;
    padding-right: 5px; }
  .order-form-info .order-form-billing, .order-form-info .order-form-delivery {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-top: 1em; }
    .order-form-info .order-form-billing .content .form-horizontal, .order-form-info .order-form-delivery .content .form-horizontal {
      width: auto;
      padding: 0 5px;
      margin: 0 -10px; }
      .order-form-info .order-form-billing .content .form-horizontal > div, .order-form-info .order-form-delivery .content .form-horizontal > div {
        width: 50%;
        float: left;
        padding: 0 5px; }

.order-form-loading {
  font-size: 90px;
  text-align: center;
  padding: 2em;
  color: #5571da; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@page {
  size: A4;
  margin: 0; }
@media print {
  html, body {
    width: 210mm;
    height: 297mm; }

  /* ... the rest of the rules ... */ }
textarea.form-control {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; }

form.ng-submitted.ng-invalid input.ng-invalid-required, form.ng-submitted.ng-invalid select.ng-invalid-required, form.ng-submitted.ng-invalid textarea.ng-invalid-required {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 83, 83, 0.6) !important;
  border-color: #f1bcbc; }

input.ng-invalid.ng-touched, input.ng-invalid-email.ng-touched, input.basic-error, select.ng-invalid.ng-touched, select.ng-invalid-email.ng-touched, select.basic-error, textarea.ng-invalid.ng-touched, textarea.ng-invalid-email.ng-touched, textarea.basic-error {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(224, 83, 83, 0.6) !important;
  border-color: #f1bcbc; }

.orders-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px; }
  .orders-table td {
    padding: 5px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa; }

.slideshow-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 33.33333%;
  overflow: hidden;
  background-color: #000; }
  @media (min-width: 1200px) {
    .slideshow-container {
      height: 400px;
      padding-bottom: 0; }
      .slideshow-container.high {
        padding-bottom: 0;
        height: 100vh; } }
  .slideshow-container .slideshow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    .slideshow-container .slideshow::before {
      content: '';
      background-color: transparent;
      transition: all 333ms;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
    .slideshow-container .slideshow .slideshow-item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 1s ease; }
      .slideshow-container .slideshow .slideshow-item::after {
        content: attr(title);
        color: #ffffff;
        text-transform: uppercase;
        text-align: right;
        opacity: 1;
        text-shadow: 1px 1px 5px #000000;
        font-size: 45px;
        font-family: "Lato", sans-serif;
        transition: all 1s;
        position: absolute;
        right: 6%;
        bottom: 6%;
        transform: translateX(100%); }
        @media (max-width: 1199px) {
          .slideshow-container .slideshow .slideshow-item::after {
            display: none; } }
      .slideshow-container .slideshow .slideshow-item.active {
        opacity: 1; }
        .slideshow-container .slideshow .slideshow-item.active::after {
          transform: none; }
  .slideshow-container .slideshow-control {
    position: absolute;
    bottom: 10px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease; }
    @media (max-width: 1199px) {
      .slideshow-container .slideshow-control {
        display: none; } }
    .slideshow-container .slideshow-control .slideshow-pills {
      display: inline-block;
      padding: 0 20px; }
      .slideshow-container .slideshow-control .slideshow-pills div {
        cursor: pointer;
        float: left;
        width: 26px;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 3px;
        position: relative;
        transition: background-color 333ms; }
        .slideshow-container .slideshow-control .slideshow-pills div.active {
          background-color: white; }
    .slideshow-container .slideshow-control .arrowDown {
      position: absolute;
      bottom: calc(6% + 100px);
      left: 0;
      right: 0;
      margin: auto auto;
      color: #ffffff;
      font-size: 40px;
      z-index: 9999;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
      cursor: pointer;
      transition: all .6s; }
      .slideshow-container .slideshow-control .arrowDown:hover {
        color: #000000;
        background: rgba(255, 255, 255, 0.8); }

.header.compaq + .slideshow-container .slideshow-control {
  opacity: 0;
  visibility: hidden; }
.header.compaq + .slideshow-container .slideshow .slideshow-item::after {
  opacity: 0;
  visibility: hidden; }

.slideshow-container.compaq .slideshow {
  background-color: #000;
  position: fixed;
  left: 0;
  top: auto;
  width: 100%;
  height: calc( 100vw / 3 );
  bottom: calc(100% - 64px); }
  @media (min-width: 1200px) {
    .slideshow-container.compaq .slideshow {
      height: 400px;
      bottom: calc(100% - 128px); } }
  .slideshow-container.compaq .slideshow::before {
    background-color: rgba(0, 0, 0, 0.5); }
@media (min-width: 1200px) {
  .slideshow-container.compaq.high .slideshow {
    height: 800px; } }

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 3; }
  .mobile-header .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 64px;
    width: 280px; }
    .mobile-header .logo img {
      max-height: 60px;
      max-width: 260px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .mobile-header .menu-activator {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px #000; }
  @media (min-width: 1200px) {
    .mobile-header {
      display: none; } }

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .6s;
  background-color: transparent;
  visibility: hidden;
  z-index: 4; }
  .mobile-menu .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 300px;
    transition: all .6s;
    background-color: #f0f0f0;
    transform: translateX(-100%);
    overflow-y: auto; }
  .mobile-menu.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5); }
    .mobile-menu.active .content {
      transform: none; }
  @media (min-width: 1200px) {
    .mobile-menu {
      display: none; } }

.mobile-menu .content .content-area {
  padding: 10px; }
  .mobile-menu .content .content-area .logo {
    height: 60px;
    width: 230px;
    margin: 0 auto 10px;
    display: block;
    background-image: url("../images/logo_narrow_black.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  .mobile-menu .content .content-area .main-menu.with-separator {
    background-image: url("../images/mobile_menu_bg.png");
    background-position: left top;
    background-repeat: no-repeat; }
  .mobile-menu .content .content-area .main-menu.without-separator {
    background-image: url("../images/mobile_menu_bg_2.png");
    background-position: left top;
    background-repeat: no-repeat; }
  .mobile-menu .content .content-area .main-menu .link {
    float: left;
    width: calc(100% - 32px);
    height: 32px;
    line-height: 32px;
    color: #000;
    text-decoration: none; }
  .mobile-menu .content .content-area .main-menu .toggle {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #000;
    text-align: center; }
  .mobile-menu .content .content-area .main-menu .sub-menu {
    float: left;
    display: none;
    width: 100%;
    padding: 10px; }
    .mobile-menu .content .content-area .main-menu .sub-menu div {
      padding-bottom: 10px; }
      .mobile-menu .content .content-area .main-menu .sub-menu div label {
        display: block;
        color: #999;
        margin-bottom: 5px;
        padding-bottom: 5px;
        background-image: url("../images/mobile_menu_bg_2.png");
        background-position: center bottom;
        background-repeat: no-repeat; }
      .mobile-menu .content .content-area .main-menu .sub-menu div a {
        display: block;
        height: 24px;
        line-height: 24px;
        color: #000;
        text-decoration: none; }
  .mobile-menu .content .content-area .main-menu .toggle.active + .sub-menu {
    display: block; }
  .mobile-menu .content .content-area .contacts {
    margin-top: 15px; }
    .mobile-menu .content .content-area .contacts h4 {
      display: block;
      color: #999;
      margin-bottom: 5px;
      padding-bottom: 5px; }
    .mobile-menu .content .content-area .contacts .contact {
      position: relative;
      padding-left: 30px;
      margin-bottom: 5px;
      color: #000000; }
    .mobile-menu .content .content-area .contacts .mobile:before {
      content: '\f098';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
      color: #737373; }
    .mobile-menu .content .content-area .contacts .email:before {
      content: '\f199';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
      color: #737373; }
    .mobile-menu .content .content-area .contacts .www:before {
      content: '\f0ac';
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
      color: #737373; }

.mobile-footer {
  background-color: #333;
  padding: 10px;
  color: #f0f0f0; }
  .mobile-footer .copyright {
    text-align: center;
    margin-bottom: 10px; }
  .mobile-footer .webdesign {
    text-align: center; }
    .mobile-footer .webdesign a {
      color: #fff;
      text-decoration: none; }
  @media (min-width: 600px) {
    .mobile-footer .copyright {
      text-align: left;
      float: left;
      width: 50%;
      margin-bottom: 0; }
    .mobile-footer .webdesign {
      text-align: right;
      float: right;
      width: 50%; } }
  @media (min-width: 1200px) {
    .mobile-footer {
      display: none; } }

.mainContainer.contact {
  max-width: 800px;
  margin: 0 auto; }

/*# sourceMappingURL=css_layout.css.map */
